################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AIPChatApp/bin
/AIPChatApp/obj
